

#foreground {
    position: relative;
    z-index:1;

    height:100%;
    /* height: calc(100% - 70px); */
    width:80%;
    max-width: 900px;

    left:50%;
    transform: translateX(-50%);
    top:70px;

    
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    /* scrollbar-width: none;  */
    overflow-y: scroll;
    margin-bottom: 200px;
}
#foreground::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

hr {
    border: none;
    border-top: 2px solid #000; /* Customizing the line */
    margin: 20px 0; /* Adding space around the line */
}

.separator{
    position: relative;
    width: 96%;
    left:2%;
}


.project {
  display: block;
  width: 100%;
  cursor: pointer;
}

.project-header {
  padding: 0.5rem 0.5rem;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.project-header:hover {
  background-color: #eaf6ffa2;
}

.project-body {
display: block;
  overflow: hidden;
  height: 0px;
  transition: 0.25s;
}


.page-title {
    position: relative;
    left: 50%;
    margin-left:-250px;
    width: 500px;
    height:100px;

    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}.page-title-h1{
    font-family: Georgia, serif;
    font-size:50px;
    margin-top:15px;
}


.introduction {
    position: relative;
    width: 800px;
    height: auto;
    left:50%;
    margin-left:-400px;
}
.photo {
    position: relative;
    border-radius: 20px;
    height: 120px;
    width:120px;
    left:0px;
    top: 1em;
    
}
.introduction-text-container{
    position: relative;
    width: calc(100% - 120px);
    height: fit-content;

}
.introduction-text {
    font-family: Georgia, serif;
    font-size:15px;
    text-align: justify;

    padding-left: 10px;
    padding-right: 10px;

}


.banner {
    position:relative;
    height:50px;
    width:100%;
    left:0%;
    margin-left:0px;
    padding-top: 0px;

}.banner-text {
    font-family: monospace;
    font-size:25px;
    text-align: center;
    font-weight: bold;
}

.project-container {
    position: relative;
    width: 100%;
    height: auto;
    left:0%;
    margin-left:0px;
    padding-bottom: 10px;
    z-index:1;
}

h1,h2,p {
    color: #191919;
}

h1 {
    font-size: 15px;
    font-weight: bold;

}h2 {
    font-size: 15px;
    font-weight: normal;

}

.subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.videoDisplay{
    position: relative;
    width: 100%;max-height: 300px;
    height: fit-content;
}
.videoInfo{
    font-family: monospace;
  font-size: 15px;
  text-align: center;
}