
body{
  background-color: #aec6cf;
  overflow: hidden;
}

button{
  opacity: 0;
  background-color: #aec6cf;
  border: 0;
  color: rgba(0,0,0,0.2);

}
button:active{
  background-color: rgb(121, 139, 146);
  color: black;
}

button::-moz-focus-inner {
  border: 0;
}

#cover{
    position: absolute;
    height: 400%;
    width: 100%;
    background-color: white;
    top: -400%;
    left: 0;
    z-index: 100;
}
#Hexaco{
  outline: 0;
  border: 0;
  z-index: 101;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -89px;
  margin-left: -102px;
  clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
  -webkit-clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
  background: #F2F2F2;
  height: 348px;
  width: 400px;
}

#back_space{
  z-index: 100;
  background-color: rgba(255,2,2,0);
  opacity: 0.5;
  opacity: 0.3;
  background-image: url("arrow.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: 14px 9px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-size: 30px;
  width: 70px;
  height: 30px;
  top: 10px;
  left: -10px;
  display: block;
  position: fixed;
  -webkit-animation: back 2s;-moz-animation: back 2s;-o-animation: back 2s;-ms-animation: back 2s;
}
@-webkit-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-moz-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-o-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-ms-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
