
body{
  background-color: #aec6cf;
  overflow: hidden;
}

#slide_L{
    z-index: 1;
    opacity: 0.6;
    position: fixed;
    background: grey;
    display: block;
    height: 60%;
    width: 100%;
    top: 20%;
    left: -50%;
    animation-timing-function: ease-in;
    -webkit-animation: lefty 3s;-moz-animation: lefty 3s;-o-animation: lefty 3s;-ms-animation: lefty 3s;
}
#slide_R{
  z-index: 1;
  opacity: 0.6;
  position: fixed;
  background: grey;
  display: block;
  height: 60%;
  width: 100%;
  top: 20%;
  right: -50%;
  animation-timing-function: ease-in;
  -webkit-animation: righty 3s;-moz-animation: righty 3s;-o-animation: righty 3s;-ms-animation: righty 3s;
}

@-webkit-keyframes lefty{
  0% {left: -100%;}
  100% {left: -50%;}}
@-moz-keyframes lefty{
  0% {left: -100%;}
  100% {left: -50%;}}
@-o-keyframes lefty{
  0% {left: -100%;}
  100% {left: -50%;}}
@-ms-keyframes lefty{
  0% {left: -100%;}
  100% {left: -50%;}}
  @-webkit-keyframes righty{
    0% {right: -100%;}
    100% {right: -50%;}}
  @-moz-keyframes righty{
    0% {right: -100%;}
    100% {right: -50%;}}
  @-o-keyframes righty{
    0% {right: -100%;}
    100% {right: -50%;}}
  @-ms-keyframes righty{
    0% {right: -100%;}
    100% {right: -50%;}}

#cover{
    position: absolute;
    height: 400%;
    width: 100%;
    background-color: white;
    top: -400%;
    left: 0;
    z-index: 100;
}
#Hexaco{
  outline: 0;
  border: 0;
  z-index: 101;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -89px;
  margin-left: -102px;
  clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
  background: #F2F2F2;
  height: 348px;
  width: 400px;
}

#back_space{
  z-index: 100;
  background-color: grey;
  opacity: 0.5;
  opacity: 0.3;
  background-image: url("arrow.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: 14px 9px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-size: 30px;
  width: 70px;
  height: 30px;
  top: 10px;
  left: -10px;
  display: block;
  position: fixed;
  -webkit-animation: back 2s;-moz-animation: back 2s;-o-animation: back 2s;-ms-animation: back 2s;
}#back_space:hover{
  background-color: white;
}
