
.p5Text{
    position: fixed;
    right:10px;
    bottom: 50px;
    font-size: 40px;
}
.p5Canvas{
    opacity: 1;
    top:-600px;
    left:50%;
    margin-left: -200px;
}
button{
    opacity: 0;
    background-color: #aec6cf;
    border: 0;
    color: rgba(0,0,0,0.2);
    z-index:100;
  }
  button:active{
    background-color: rgb(121, 139, 146);
    color: black;
  }
  
  button::-moz-focus-inner {
    border: 0;
  }
  