html{
  scroll-behaviour: smooth;
  
  }
  
  /* GLOBAL STYLES */
  body {
      background-color:#ff9eb5;
      color: black;
      padding-top:8em;
      font-size: 25;
      overflow-x: hidden;
    }
    
@media only screen and (min-width: 600px) {
  * { color: #ff6c8f; text-decoration: none; text-align: center;}  

  /********** Page Scrolling ***********/

  #partI{
    transition: 1s;
    visibility: visible;
  }
  #partII{
    transition: 1s;
    visibility: hidden;
  }
  #behind{
    display: inline-block;
    position: absolute;
    /* background-color: #FFE5EE; */
    width: 80%;
    height: 200%;
    top: 100%;
    left: 10%;
    overflow: hidden;
  }
/************** Sub Title / Conatiner **************/
.down_png{
  position: fixed;
  width: 50px;
  height: auto;
  /* opacity: 0.2; */
  bottom:2%;
  left:50%;
  margin-left: -25px;

  -webkit-animation: fade 6s;
  -moz-animation: fade 6s;
  -o-animation: fade 6s;
  -ms-animation: fade 6s;
  filter: invert(100%);
}

  /*******CV IMAGE********/
  #CV{
    position: static;
    display: block;
    margin: 0 auto;
    z-index: 101;
    top: 50px;
    left: 0%;

    height: 100%;
    width: auto;
    background-size: inherit;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px grey;

  }

  #white_hex{
    z-index: -1;
    outline: 0;
    border: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -174px;
    margin-left: -200px;
    clip-path: polygon(100px 0px, 300px 0px, 400px 174px, 300px 348px, 100px 348px, 0px 174px);
    background: #F2F2F2;
    height: 348px;
    width: 400px;
    -webkit-animation: hex 4s;
    -moz-animation: hex 4s;
    -o-animation: hex 4s;
    -ms-animation: hex 4s;
  }

  #toolbarViewer {
    height: 32px;
    background-color: #FFFAFA !important;
  }
 
  #subtitle{ /* the course of your life */
    color: #ff6c8f;
    width: 420px;
    position: fixed;
    font-size: 150%;
    top: 50%;
    left: 45%;
    -webkit-animation: fade 6s;
    -moz-animation: fade 6s;
    -o-animation: fade 6s;
    -ms-animation: fade 6s;
  }

  #back_space{
    z-index: 100;
    background-color: #ff9eb5;
    opacity: 0.3;
    background-image: url("arrow.png");
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-position: 14px 9px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-size: 30px;
    width: 70px;
    height: 30px;
    top: 10px;
    left: -10px;
    display: block;
    position: fixed;
    -webkit-animation: back 2s;-moz-animation: back 2s;-o-animation: back 2s;-ms-animation: back 2s;

  }

  #back_space:hover{
    background-color: white;
  }

  /* TITLE:  This is the wrap for the typewrite */
  a{
    width: 800px;
    height: 300%;
    position: fixed;
    top: 45%;
    margin-left: -400px;
  }
  /* 8************** */


  @-webkit-keyframes fade {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-moz-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-o-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-ms-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-moz-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-o-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-ms-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  /************* Writing in page ***********/

  #cover{
    position: absolute;
    height: 400%;
    width: 100%;
    background-color: white;
    top: -400%;
    left: 0;
    z-index: 100;

  }

  #Hexaco{
    outline: 0;
    border: 0;
    z-index: 101;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -89px;
    margin-left: -102px;
    clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
    background: #F2F2F2;
    height: 348px;
    width: 400px;
  }


  @-webkit-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-moz-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-o-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-ms-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
}


@media only screen and (max-width: 600px) {

  * { color: #ff6c8f; text-decoration: none; text-align: center;}  
  #back_w{
    display: block !important;

    overflow-x: hidden;
    position: absolute;
    background-color: #FFE5EE; /* seashell white/pink */
    width: 100%;
    height:100%;
    top: 100%;
    left: 0px;
  }

  #CV{
    display: block !important;
    position: absolute;
    padding-left: 0%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    left: 0%;
    top:100%;

    background-size: inherit;
    background-repeat: no-repeat;
    
    box-shadow: 0 0 20px grey;
  }
  .down_png{
    position: fixed;
    width: 20px;
    height: auto;
    /* opacity: 0.2; */
    bottom:2%;
    left:50%;
    margin-left: -10px;
  
    -webkit-animation: fade 6s;
    -moz-animation: fade 6s;
    -o-animation: fade 6s;
    -ms-animation: fade 6s;
    filter: invert(100%);
  }

  /********** Page Scrolling ***********/

  #partI{
    position: static;
    height:100%;
    width: 100%;
    transition: 1s;
    visibility: visible;
  }

  #white_hex{
    z-index: -1;
    outline: 0;
    border: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -174px;
    margin-left: -200px;
    clip-path: polygon(100px 0px, 300px 0px, 400px 174px, 300px 348px, 100px 348px, 0px 174px);
    background: #F2F2F2;
    height: 348px;
    width: 400px;
    -webkit-animation: hex 4s;
    -moz-animation: hex 4s;
    -o-animation: hex 4s;
    -ms-animation: hex 4s;
  }

  #subtitle{ /* the course of your life */
    color: #ff6c8f;
    width: 420px;
    position: fixed;
    top: 50%;
    left: 13%;
    font-size: 20px;

    -webkit-animation: fade 6s;
    -moz-animation: fade 6s;
    -o-animation: fade 6s;
    -ms-animation: fade 6s;
  }

  #back_space{
    z-index: 100;
    background-color: #ff9eb5;
    opacity: 0.3;
    background-image: url("arrow.png");
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-position: 14px 9px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-size: 30px;
    width: 70px;
    height: 30px;
    top: 10px;
    left: -10px;
    display: block;
    position: fixed;
    -webkit-animation: back 2s;-moz-animation: back 2s;-o-animation: back 2s;-ms-animation: back 2s;

  }

  #back_space:hover{
    background-color: white;
  }

  /* TITLE:  This is the wrap for the typewrite */
  a{
    width: 800px;
    position: fixed;
    top: 45%;
    font-size: 30px;
    margin-left: -400px;
  }


  @-webkit-keyframes fade {
    0% {opacity: 0; }
    60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-moz-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-o-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-ms-keyframes fade {
    0% {opacity: 0;}
      60% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-moz-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-o-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-ms-keyframes hex {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  #cover{
    position: absolute;
    height: 400%;
    width: 100%;
    background-color: white;
    top: -400%;
    left: 0;
    z-index: 100;

  }

  #Hexaco{
    outline: 0;
    border: 0;
    z-index: 101;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -89px;
    margin-left: -102px;
    clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
    background: #F2F2F2;
    height: 348px;
    width: 400px;
  }


  @-webkit-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-moz-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-o-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}
  @-ms-keyframes back{
    0% {left: -90px;}
    100% {left: -10;}}

}