@media only screen and (max-width: 600px) {

    .title_Box {
        position: static;
        opacity: 1;
        height: 50px;
        width: auto;
        z-index: 101;
        margin-top:-53px;
    }
    .title {
        opacity:1;
        color: rgba(255, 255, 255, 0.8);
        font-size: 70px;
        text-align: center;
        font-family: "Lucida Console", Courier, monospace;
    }
    
    #BARS {
        position: static;
        width: 100%;
        margin-top: 30px;
        height: auto;
    }
    
    #pannel_back {
        position: static;
        height: 100px;
        left: 0;
        width: 100%;
        top:12%;
        margin-top: -10px;
        background-color: rgb(255, 255, 255, 0.6);
    }
    .subtitle_box {
        width: 30%;
        height: 90px;
        text-align: center;
        position: relative;
        top: 5px;
        left: 1.5%;
        background-color: white;
        border-radius: 3px;
    }
    p.subtitle{
        z-index: 11;
        position: relative;
        height: 18px;
        width: 95%;
        top: 50%;
        left: 2.5%;
        color: rgba(0, 0, 0, 0.7);
        text-align: center !important;
        font-size: 17px;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        /*font-family: "Courier New Bold", Courier,  monospace;*/
    }
    
    /********* Smart Meter *********/
    #sm_title{
        top: 22px;
    }.D5ImageOne{
        position: relative;
        width: 20%;
        height: 90px;
        top: -85px;
        left: 33%;
        border-radius: 1px;
        
        background-image: url("D5PanelImages/code.jpg");
        background-color: rgb(251, 243, 179);
    
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% auto;
    }.D5ImageTwo{
        position: relative;
        width: 45.5%;
        height: 90px;
        top: -175px;
        left: 53%;
        border-radius: 1px;
        
        background-image: url("D5PanelImages/housing.png");
        background-color: rgb(251, 243, 179);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 88px auto;
    
    }
    /********* Writing *********/
    #Write_sub{
        top:22px;
    }.WriteImageOne{
        position: relative;
        width: 20%;
        height: 90px;
        top: -85px;
        left: 78.5%;
        border-radius: 1px;
        
        background-image: url("WritePanelImages/competition.png");
        background-color: rgb(251, 243, 179);
    
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% auto;
       }
       .WriteImageTwo{
        position: relative;
        width: 45.5%;
        height: 90px;
        top: -175px;
        left: 33%;
        border-radius: 1px;
    
        background-image: url("WritePanelImages/essay.png");
        background-color: rgba(255, 255, 255,1);
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 95% auto;
    
       }
    /********* Speaking *********/
    #Speak_sub{
        top:22px;
    }.SpeakImageOne{
        position: relative;
        width: 45.5%;
        height: 90px;
        top: -85px;
        left: 43%;
        border-radius: 1px;
    
        background-image: url("SpeakPanelImages/event.png");
    
        background-color: rgba(233, 235, 238, 1);
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 95% auto;
        z-index: 2;
    }.SpeakImageTwo{
        position: relative;
        width: 65%;
        height: 90px;
        top: -175px;
        left: 33%;
        border-radius: 1px;
    
        background-color:rgb(233, 235, 238);
    
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 100% auto;
        z-index: 1;
      }
    
    /********* Website *********/
    #webTitle{
        top:32px;
    }.WebImageOne{
        position: relative;
        width: 40%;
        height: 90px;
        top: -85px;
        left: 33%;
        border-radius: 1px;
        
        background-image: url("WebsitePanelImages/MainPage2.png");
    
        background-color: rgb(251, 243, 179);
    
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: auto 100%;
    }.WebImageTwo{
        position: relative;
        width: 25.5%;
        height: 90px;
        top: -175px;
        left: 73%;
        border-radius: 1px;
        background-image: url("WebsitePanelImages/codes.png");
    
        background-color: rgb(255, 255, 255);
    
    
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 92% auto;
    }
    /********* None *********/
    #none{
        top:27px;
    }
    .bar_R1{
        display: none !important;
    }.bar_L1{
        display: none !important;
    }
    
    /********* Done *********/
    .bar_R2,.bar_L2,.bar_MR,.bar_ML{
        position: relative;
        width:105%;
        left:-2.5%;
    }
    /*********************************Text ******************************************/
    #textContainer{
        position: absolute;
        height: auto;
        width: 100%;
        top: 0;
        margin-top: -50px;
    }
    .sub{
        text-align: left;
        word-wrap: break-word;
        overflow-wrap: break-word !important;
    
        position: relative;
        font-size: 25px;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
        color: rgba(255, 255, 255, 0.6);
        margin: 0;
        margin-left: 10px;
      }
      #sub{
        word-wrap: break-word;
        overflow-wrap: break-word !important;
    
        position: relative;
        left: 10px;
        top: 0;
        height: auto;
        width: 100%;
      }
      #text{
        overflow-wrap: break-word !important;
        word-wrap: break-word;
    
        position: relative;
        left: 0;
        margin-left: 5%;
        height: auto;
        width: 90%;
        top: 0px;
        margin-top: -20px;
      }.text{
          text-align: justify;
        word-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 15px;
        font-family: "Lucida Console", Courier, monospace;
        line-height: 1.5;
        padding-bottom: 20px;
        padding-top: 10px;
      }
    
    /********* Smart Meter *********/
    #D5Container{ /* Contains the flow  and title*/
        overflow-x: hidden;
    
        position: absolute;
        border-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 78%;
        top: 200%;
        left: 0%;
        margin-left: 0px;
        overflow-y: scroll;
    }#D5TitleBox{
        overflow-wrap: break-word;
    
        position: relative;
        width: 100%;
        height: 50px;
        top: 0px;
        left: 0;
        margin-left: 0px;
      }.D5Title{
    
        color: rgba(255, 255, 255, 0.8);
    
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
      }
    /********* Website *********/
    #WebContainer{ /* Contains the flow  and title*/
        overflow-x: hidden;
    
        position: absolute;
        border-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 78%;
        top: 200%;
        left: 0%;
        margin-left: 0px;
        overflow-y: scroll;
      }#WebTitleBox{
        overflow-wrap: break-word;
    
        position: relative;
        width: 100%;
        height: 50px;
        top: 0px;
        left: 0;
        margin-left: 0px;
      }.WebTitle{
        color: rgba(255, 255, 255, 0.8);
    
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
      }
    
    /********* Speaking *********/
    #SpeakContainer{ /* Contains the flow  and title*/
        overflow-x: hidden;
    
        position: absolute;
        border-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 78%;
        top: 200%;
        left: 0%;
        margin-left: 0px;
        overflow-y: scroll;
      }#SpeakTitleBox{
        overflow-wrap: break-word;
    
        position: relative;
        width: 100%;
        height: 50px;
        top: 0px;
        left: 0;
        margin-left: 0px;
      }.SpeakTitle{
        color: rgba(255, 255, 255, 0.8);
    
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
      }.Speak_textContainer{
        top: 200px !important;
      }
    
    /********* Writing *********/
    #WriteContainer{ /* Contains the flow  and title*/
        overflow-x: hidden;
    
        position: absolute;
        border-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 78%;
        top: 200%;
        left: 0%;
        margin-left: 0px;
        overflow-y: scroll;
      }#WriteTitleBox{
        overflow-wrap: break-word;
    
        position: relative;
        width: 100%;
        height: 50px;
        top: 0px;
        left: 0;
        margin-left: 0px;
      }.WriteTitle{
        color: rgba(255, 255, 255, 0.8);
    
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: "Lucida Console", Courier, monospace;
      }
    /*******************************************************************************************/
    
    #cover{
        position: absolute;
        height: 400%;
        width: 100%;
        background-color: white;
        top: -400%;
        left: 0;
        z-index: 100;
    }
    
    #Hexaco {
        outline: 0;
        border: 0;
        z-index: 101;
        opacity: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -89px;
        margin-left: -102px;
        clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
        -webkit-clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
        background: #F2F2F2;
        height: 348px;
        width: 400px;
    }
    
    #back_space {
        z-index: 100;
        background-color: #ff9eb5;
        opacity: 0.3;
        background-image: url("arrow.png");
        transform: scaleX(-1);
        background-repeat: no-repeat;
        background-position: 14px 9px;
        border: 0;
        outline: 0;
        cursor: pointer;
        background-size: 30px;
        width: 70px;
        height: 30px;
        top: 10px;
        left: -10px;
        display: block;
        position: fixed;
        -webkit-animation: back 2s;
        -moz-animation: back 2s;
        -o-animation: back 2s;
        -ms-animation: back 2s;
    }

    #oneContainer,#twoContainer, #threeContainer, #fourContainer, #fiveContainer, #sixContainer, #sevenContainer{
        position: static;
        width: 100%;
        height: auto;
        margin: 0;
      }
      #textContainer{
        position: absolute;
        width: 100%;
        height: auto;
        top: 150px;
        left: -3px;
      
      }
      
}