@media only screen and (max-width: 600px) {
  body {
    background-color: #aadd77;
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
    background-color: #aadd77;
}

.title {
    position: absolute;
    height:10%;
    width: 100%;
    top:1%;
    opacity:1;
    color: rgba(255, 255, 255, 0.8);
    font-size: 4em;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
  -webkit-animation: fade 4s;-moz-animation: fade 4s;-o-animation: fade 4s;-ms-animation: fade 4s;

}

#BARS {
    position: absolute;
    width: 100%;
    top:15%;
    height: 80%;
}

#pannel_back {
    position: relative;
    height: 20%;
    left: 0;
    width: 100%;
    top:0;
    margin-top: -1%;
    background-color: rgb(255, 255, 255, 0.6);
    z-index: 11;
}
.subtitle_box {
    width: 30%;
    height: 90%;
    text-align: center;
    position: relative;
    top: 5%;
    left: 1.5%;
    background-color: white;
    border-radius: 3px;
}
p.subtitle{
    z-index: 11;
    position: relative;
    height: 18px;
    width: 95%;
    top: 50%;
    left: 2.5%;
    color: rgba(0, 0, 0, 0.7);
    text-align: center !important;
    font-size: 17px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*font-family: "Courier New Bold", Courier,  monospace;*/
}

/********* Smart Meter *********/
#sm_title{
    top: 30%;

}.D5ImageOne{
    position: relative;
    width: 20%;
    height: 90%;
    top:-85%;
    left: 32%;
    border-radius: 1px;
    
    background-image: url("D5PanelImages/code.jpg");
    background-color: rgb(251, 243, 179);

    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
}.D5ImageTwo{
    position: relative;
    width: 43%;
    height: 90%;
    top: -175%;
    left: 52%;
    border-radius: 1px;
    
    background-image: url("D5PanelImages/housing.png");
    background-color: rgb(251, 243, 179);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 88px auto;

}
/********* Writing *********/
#Write_sub{
    top:30%;
}.WriteImageOne{
    position: relative;
    width: 18%;
    height: 90%;
    top: -85%;
    left: 77.5%;
    border-radius: 1px;
    
    background-image: url("WritePanelImages/competition.png");
    background-color: rgb(251, 243, 179);

    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100% auto;
   }
   .WriteImageTwo{
    position: relative;
    width: 45.5%;
    height: 90%;
    top: -175%;
    left: 32%;
    border-radius: 1px;

    background-image: url("WritePanelImages/essay.png");
    background-color: rgba(255, 255, 255,1);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 95% auto;

   }
/********* Speaking *********/
#Speak_sub{
    top:30%;
}.SpeakImageOne{
    position: relative;
    width: 45.5%;
    height: 90%;
    top: -85%;
    left: 43%;
    border-radius: 1px;

    background-image: url("SpeakPanelImages/event.png");

    background-color: rgba(233, 235, 238, 1);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 95% auto;
    z-index: 2;
}.SpeakImageTwo{
    position: relative;
    width: 65%;
    height: 90%;
    top: -175%;
    left: 33%;
    border-radius: 1px;

    background-color:rgb(233, 235, 238);

    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100% auto;
    z-index: 1;
  }

/********* Website *********/
#webTitle{
    top:30%;
}.WebImageOne{
    position: relative;
    width: 40%;
    height: 90%;
    top: -85%;
    left: 33%;
    border-radius: 1px;
    
    background-image: url("WebsitePanelImages/MainPage2.png");

    background-color: rgb(251, 243, 179);

    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: auto 100%;
}.WebImageTwo{
    position: relative;
    width: 23%;
    height: 90%;
    top: -175%;
    left: 73%;
    border-radius: 1px;
    background-image: url("WebsitePanelImages/codes.png");

    background-color: rgb(255, 255, 255);


    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 92% auto;
}
/********* None *********/
#none{
    top:27px;
}
.bar_R1{
    display: none !important;
}.bar_L1{
    display: none !important;
}

/********* Done *********/
.bar_R2,.bar_L2,.bar_MR,.bar_ML{
    position: relative;
    top:0;
    width:105%;
    left:-2.5%;
  -webkit-animation: slide 2s;-moz-animation: slide 2s;-o-animation: slide 2s;-ms-animation: slide 2s;

}
.bar_R2{
  -webkit-animation: slide 2s;-moz-animation: slide 2s;-o-animation: slide 2s;-ms-animation: slide 2s;
}.bar_ML{
  -webkit-animation: slide 2.2s;-moz-animation: slide 2.2s;-o-animation: slide 2.2s;-ms-animation: slide 2.2s;
}.bar_MR{
  -webkit-animation: slide 2.4s;-moz-animation: slide 2.4s;-o-animation: slide 2.4s;-ms-animation: slide 2.4s;
}.bar_L2{
  -webkit-animation: slide 2.6s;-moz-animation: slide 2.6s;-o-animation: slide 2.6s;-ms-animation: slide 2.6s;
}
/*********************************Text ******************************************/
#textContainer{
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: -50px;
}
.sub{
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word !important;

    position: relative;
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Console", Courier, monospace;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    margin-left: 10px;
  }
  #sub{
    word-wrap: break-word;
    overflow-wrap: break-word !important;

    position: relative;
    left: 10px;
    top: 0;
    height: auto;
    width: 100%;
  }
  #text{
    overflow-wrap: break-word !important;
    word-wrap: break-word;

    position: relative;
    left: 0;
    margin-left: 5%;
    height: auto;
    width: 90%;
    top: 0px;
    margin-top: -20px;
  }.text{
      text-align: justify;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-family: "Lucida Console", Courier, monospace;
    line-height: 1.5;
    padding-bottom: 20px;
    padding-top: 10px;
  }

/********* Speaking *********/
#SpeakContainer,#D5Container,#WebContainer,#WriteContainer{ /* Contains the flow  and title*/
    overflow-x: hidden;

    position: absolute;
    border-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70%;
    bottom: -100%;
    left: 0%;
    margin-left: 0px;
    overflow-y: scroll;
  }
#SpeakTitleBox,#WebTitleBox,#D5TitleBox,#WriteTitleBox{
    overflow-wrap: break-word;

    position: relative;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0;
    margin-left: 0px;
  }.SpeakTitle,.WriteTitle,.WebTitle,.D5Title{
    color: rgba(255, 255, 255, 0.8);

    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  
  .Speak_textContainer{
    top: 200px !important;
  }.Write_textContainer{
    top: 155px !important;
  }.Web_textContainer{
    top: 155px !important;
  }.D5_textContainer{
    top: 155px !important;
  }

/*******************************************************************************************/
  /* Progress Bar when on a project window */
  #bar_Progress{
    opacity: 0;
    position:fixed;
    width: 90%;
    height: 5%;
    top: 22%;
    left: 5%;
    border-radius: 10px;
    z-index: 10;
    /* background-color: rgba(255, 255, 255, 0.3); */
  }#return_Progress, #to_Title, #to_Bottom, #menu_Progress, #color_Progress{
    position: relative;
    width: 19%;
    height:100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3); 
    transition: left 0.8s;
    transition-timing-function: ease-out;
  }
  #return_Progress{
    left:0%;
    top:0%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;


  }.return_Image{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    opacity: 0.6;
  }
  #to_Title{
    left:20%;
    top:-100%;
  }.to_Title{
    position: relative;
    width: 100%;
    height: 100%;
    
    top:0;
    opacity: 0.6;
  }
  #menu_Progress{
    left:40%;
    top:-200%;
  }.menu_Progress{
    background-image: url("ProgressBarFolder/menu1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 20%;
    height: 100%;
    top: 0;
    left: 40%;
    opacity: 0.6;
  }
  #to_Bottom{
    top:-300%;
    left:60%
  }.to_Bottom{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    opacity: 0.6;
  }
  #color_Progress{
    top:-400%;
    left:80%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;


  }.color_Progress{
    position: relative;
    width: 100%;
    height: 100%;    
    top:0;
    opacity: 0.6;
  }
  .cP_img{
    position: relative;
    height:100%;
    width:auto;
    top:0;
    left:50%;
    margin-left: 0px;
  }.bP_img{
    position: relative;
    height:100%;
    width:auto;
    top:0;
    left:50%;
    margin-left: 0px;
    transform: rotate(-90deg);
  }.tP_img{
    position: relative;
    height:100%;
    width:auto;
    top:0;
    left:50%;
    margin-left: 0px;
    transform: rotate(90deg);
  }.rT_img{
    position: relative;
    height:100%;
    width:auto;
    top:0;
    left:50%;
    margin-left: 0px;
    
  }
  /****************************************************************************************************************/

/*******************************************************************************************/

#cover{
    position: absolute;
    height: 400%;
    width: 100%;
    background-color: white;
    top: -400%;
    left: 0;
    z-index: 100;
}

#Hexaco {
    outline: 0;
    border: 0;
    z-index: 101;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -89px;
    margin-left: -102px;
    clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
    -webkit-clip-path: polygon(50px 0px, 150px 0px, 200px 87px, 150px 174px, 50px 174px, 0px 87px);
    background: #F2F2F2;
    height: 348px;
    width: 400px;
}

#back_space {
  z-index: 100;
  background-color: rgba(255,2,2,0);
  opacity: 0.3;
  background-image: url("arrow.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: 14px 9px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-size: 30px;
  width: 70px;
  height: 30px;
  top: 0%;
  left: -2.5%;
  display: block;
  position: fixed;
  -webkit-animation: back 2s;-moz-animation: back 2s;-o-animation: back 2s;-ms-animation: back 2s;
}

@-webkit-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-moz-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-o-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}
@-ms-keyframes back{
  0% {left: -25.5%;}
  100% {left: -2.5%;}}

@-webkit-keyframes slide{
    0% {top: 200%;}
    100% {top: 0%;}}
@-moz-keyframes slide{
    0% {top: 200%;}
    100% {top: 0%;}}
@-o-keyframes slide{
    0% {top: 200%;}
    100% {top: 0%;}}
@-ms-keyframes slide{
    0% {top: 200%;}
    100% {top: 0%;}}

@-webkit-keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}}
@-moz-keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}}
@-o-keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}}
@-ms-keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1;}}
}